<!--홈-->
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="ko">
<head>
    <meta charset="UTF-8">
    <title>HIS</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/cerulean/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<link rel="stylesheet" href="/css/layout.css">
<!--<link rel="stylesheet" href="/css/reservation.css">-->

<body>
<!--네비바-->
<nav class="navbar navbar-expand-lg bg-dark py-1" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="home">HIS 병원업무관리시스템</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
                aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" th:if="${#authorization.expression('hasAnyRole(''ADMIN'')')}">
                    <a class="nav-link" href="admin_management" id="admin_management">
                        <i class="bi bi-gear"></i> 사용자관리
                    </a>
                </li>

                <li class="nav-item">
                    <form action="/logout" method="post">
                        <button type="submit" class="btn btn-primary submitBtn">Log Out</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--메뉴바-->
<div class="card m-2">
    <div class="card-header">
        <strong>MENU</strong>
    </div>
    <div class="card-body bg-light p-3"> <!-- 배경색을 밝게 수정 -->
        <div class="col d-flex justify-content-center">
            <!-- 첫 번째 박스 -->
            <div class="row d-flex flex-fill">
                <div id="patientInfo" class="col">
                </div>
                <div class="col d-flex align-self-center">
                    <div class="row mb-2">
                        <div class="input-group col">
                            <input type="text" class="form-control" id="patient_name_keyword" placeholder="환자성명 입력">
                            <button type="button" class="btn btn-secondary" id="resetBtn">
                            <i class="bi bi-x-circle" style="padding: 0.5rem;"></i>
                        </button>
                        </div>
                        <div class="col">

                            <button type="button" class="btn btn-primary" id="addReplyBtn" style="margin-left: 0.5rem;">
                                <i class="bi bi-search" style="padding: 0.5rem;"></i>
                            </button>

                        </div>
                    </div>
                </div>
            </div>

            <!-- 두 번째 박스 -->
            <div class="row d-flex flex-fill">
                <div class="d-flex justify-content-center">
                    <a class="btn btn-primary m-2" href="patient_register" style="width: 100px;">
                        <i class="bi bi-person-plus"></i><br> 환자등록
                    </a>
                    <a class="btn btn-primary m-2" href="reservation" style="width: 100px;">
                        <i class="bi bi-calendar-check"></i><br> 예약
                    </a>
                    <a class="btn btn-primary m-2" href="reception" style="width: 100px;">
                        <i class="bi bi-folder"></i><br> 진료접수
                    </a>
                    <a class="btn btn-primary m-2" href="medical_chart" style="width: 100px;">
                        <i class="bi bi-file-earmark-medical"></i><br> 진료차트
                    </a>
                    <a class="btn btn-primary m-2" href="inventory_management" style="width: 100px;">
                        <i class="bi bi-box-seam"></i><br> 재고관리
                    </a>
                    <a class="btn btn-primary m-2" href="inventory_management" style="width: 100px;">
                        <i class="bi bi-file-medical"></i><br> 보험청구
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="modal SearchModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">환자 정보</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table id="patientTable" class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">이름</th>
                        <th scope="col">나이</th>
                        <th scope="col">성별</th>
                        <th scope="col">차트번호</th>
                        <th scope="col">생일</th>
                        <th scope="col">휴대전화</th>
                    </tr>
                    </thead>
                    <tbody id="patientTableBody">
                    <!-- Rows will be dynamically inserted here -->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary SearchBtn">확인</button>
                <button type="button" class="btn btn-outline-dark closeBtn">닫기</button>
            </div>
        </div>
    </div>
</div><!--    register modal-->


<!--home-->
<div layout:fragment="home" style="width: 100%"></div>
<!--사용자관리-->
<div layout:fragment="admin_management" style="width: 100%"></div>
<!--환자등록-->
<div layout:fragment="patient_register" style="margin: 0.5%"></div>
<!--진료예약-->
<div layout:fragment="reservation" style="width: 100%"></div>
<!--진료차트-->
<div layout:fragment="medical_chart" style="width: 100%"></div>
<!--진료접수-->
<div layout:fragment="reception" style="width: 100%"></div>
<!--재고관리-->
<div layout:fragment="inventory_management" style="width: 100%"></div>

<script layout:fragment="patientscript" th:inline="javascript"></script>
<script layout:fragment="axios" th:inline="javascript"></script>
<script layout:fragment="reservationscript" th:inline="javascript"></script>

<script layout:fragment="chartscript" th:inline="javascript"></script>
<script layout:fragment="chartscriptPlan" th:inline="javascript"></script>

</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/axios.js"></script>
<script src="/js/layout.js"></script>
<div th:fragment="reception_js"></div>
</html>