<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">

<div layout:fragment="list">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    등록
                </div>
                <div class="card-body">
                    <form action="/board/register" method="post">
                        <div class="input-group mb-3">
                            <span class="input-group-text">제목</span>
                            <input type="text" name="title" class="form-control" placeholder="제목 입력">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">내용</span>
                            <textarea name="content" class="form-control col-sm-5" rows="5"></textarea>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">작성자</span>
                            <!-- 로컬 사용자일 경우 (UserDetails) -->
                            <input type="text" class="form-control" name="writer"
                                   th:if="${#authentication.principal instanceof T(org.springframework.security.core.userdetails.UserDetails)}"
                                   th:value="${#authentication.principal.name}"
                                   readonly>
                        </div>
                        <div class="my-4">
                            <div class="float-end">
                                <button type="submit" class="btn btn-primary">확인</button>
                                <button type="reset" class="btn btn-secondary">리셋</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


    <script layout:fragment="script" th:inline="javascript">
        const auth = [[${#authentication.principal}]]
        console.log(auth)

        const errors = [[${errors}]]
        console.log(errors)

        let errorMsg = ""

        if (errors) {
            for (let i = 0; i < errors.length; i++) {
                errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
            }
            alert(errorMsg)
        }

        /* const uploadModal = new bootstrap.Modal(document.querySelector(".uploadModal"))
         const uploadResult = document.querySelector(".uploadResult")

         document.querySelector(".uploadFileBtn").addEventListener("click", (e) => {
             e.stopPropagation()
             e.preventDefault()
             uploadModal.show()
         }, false)

         document.querySelector(".uploadBtn").addEventListener("click", (e) => {
             const formObj = new FormData;

             const fileInput = document.querySelector("input[name='files']")

             console.log(fileInput.files)

             const files = fileInput.files

             for (let i = 0; i < files.length; i++) {
                 formObj.append("files", files[i]);
             }

             uploadToServer(formObj).then(result => {
                 // console.log(result)
                 for (const uploadResult of result) {
                     showUploadFile(uploadResult)
                 }
                 uploadModal.hide()
             }).catch(e => {
                 uploadModal.hide()
             })
         }, false)

         document.querySelector(".closeUploadBtn").addEventListener("click", (e) => {
             uploadModal.hide()
         })

         function showUploadFile({uuid, fileName, link}) {
             const str = `<div class="card col-4">
                             <div class="card-header d-flex justify-content-center">
                                 ${fileName}
                                 <button type="button" class="btn-close btn-danger" onclick="javascript:removeFile('${uuid}','${fileName}',this)">

                                 </button>
                             </div>
                             <div class="card-body">
                                 <img src="/view/${link}" data-src="${uuid + "_" + fileName}">
                             </div>
                         </div>`
             uploadResult.innerHTML += str;
             console.log(str)
         }

         function removeFile(uuid, fileName, obj) {
             console.log(uuid)
             console.log(fileName)
             console.log(obj)

             const targetDiv = obj.closest(".card")

             removeFileToServer(uuid, fileName).then(date => {
                 targetDiv.remove()
             })
         }

         document.querySelector(".submitBtn").addEventListener("click", (e) => {
             e.stopPropagation()
             e.preventDefault()
             const target = document.querySelector(".uploadHidden")
             const uploadFiles = uploadResult.querySelectorAll("img")

             let str = ''

             for (let i = 0; i < uploadFiles.length; i++) {
                 const uploadFile = uploadFiles[i]
                 const imgLink = uploadFile.getAttribute("src")

                 str += `<input type="hidden" name="fileNames" value="${imgLink}">`
             }

             target.innerHTML = str;
             const formObj=document.querySelector("form")
             formObj.submit();
             formObj.reset();
         },false)*/


    </script>
</div>