/* 전체적인 스타일 */
body {
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.home-container {
    padding: 30px;
}

/* 제목 크기 조정 */
.home-card h4 {
    font-size: 1.2rem; /* 이전보다 작은 크기 */
}

.home-card h5 {
    font-size: 1rem; /* 이전보다 작은 크기 */
}

/* 테이블 텍스트 크기 조정 */
.table th, .table td {
    font-size: 0.9rem; /* 테이블 헤더와 내용의 글자 크기 조정 */
}

/* 카드 스타일 */
.home-card {
    background-color: #ffffff;
    border-radius: 15px;
    border: 1px solid #dee2e6;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.home-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.home-card-header {
    border-bottom: 2px solid #8ab4f8;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.home-card h4, .home-card h5 {
    font-weight: 600;
    color: #343a40;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-card-header h5 span {
    color: #007bff;
    font-weight: bold;
}

/* Subheader style */
.home-card-subheader {
    border-bottom: 1px solid #d0d0d0;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.fixed-box {
    max-height: 200px;
    overflow-y: auto;
    margin-top: 10px;
}

.table th {
    background-color: #e9ecef;
    color: #495057;

}

.table tr:hover {
    background-color: #f1f3f5;
}

.table td {
    color: #666;
}

.home-card-body {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeInUp 0.4s ease-out forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.mb-4 {
    margin-bottom: 24px !important;
}


.status-circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 10px;
}


.waiting-circle {
    background-color: #dc3545;
}

.in-treatment-circle{
    background-color: #ffcc00;
}

.completed-circle{
    background-color: #28a745;
}

.move-to-material-transaction {
    cursor: pointer;
    transition: transform 0.3s, color 0.3s;
}

.move-to-material-transaction:hover {
    transform: scale(1.1);
    color: #007bff;
}

