/* 네모난 고정 영역을 유지하기 위한 스타일 */
.fixed-box {
    height: 250px; /* 고정된 높이 */
    border: 1px solid #ccc;
    overflow-y: auto;
    box-sizing: border-box; /* 스크롤바 너비 포함하여 계산 */
    margin: 0;
}

.fixed-box table {
    width: 100%;
    margin: 0;
    padding: 0;
}

table thead th{
    padding: 0;
    margin: 0;
}

    /* 테이블 헤더 중앙 정렬 및 고정 */
table thead tr {
    text-align: center;
    position: sticky; /* 스크롤 시 고정 */
    top: 0;
    background-color: white; /* 고정된 헤더의 배경색 (완전히 불투명) */
    z-index: 999; /* 충분히 높은 값으로 설정 */
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); /* 헤더 아래 그림자 */
    border-bottom: 1px solid #ddd; /* 헤더와 본문 사이 경계선 */
    padding: 10px; /* 내용과 테두리 사이 여백 */
}

/* 테이블 내용 중앙 정렬 */
.table tbody td {
    text-align: center;
}

/* 재료 목록과 재료 입력을 감싸는 컨테이너 */
.inventory-container,
.form-container,
.table-container {
    margin-top: 20px; /* 중복 제거 */
}

.row-gap {
    margin-bottom: 15px;
}

/* 라디오 그룹의 스타일 */
.radio-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-control-single-line {
    width: 100%;
    display: block;
    resize: none;
}

/* 버튼 그룹의 정렬 및 간격 설정 */
.button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

/* 버튼 그룹 내의 버튼 스타일 */
.button-group button {
    margin: 0;
}

/* 커스텀 행 스타일 */
.custom-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.custom-row .form-group {
    flex: 1;
}

.custom-row .form-group.wide {
    flex: 2;
}

.custom-row .form-group.narrow {
    flex: 1;
}

/* 컨테이너 너비 제한 */
.container {
    max-width: 1200px; /* 너비 제한 */
}

/* 검색 필드의 배치를 수평으로 정렬 */
.search-box .row-gap {
    display: flex;
    align-items: flex-end;
}

.search-box .form-label {
    font-size: 0.9rem;
}

/* 검색 버튼 정렬 */
.search-box .align-bottom {
    display: flex;
    justify-content: center;
}

.search-box .col-md-2 {
    padding-right: 10px;
}

.search-box .btn {
    width: 100px;
}

/* 거래 입력 박스 스타일 */
.transaction-entry-box {
    border: 1px solid #ccc;
    padding: 10px;
}

.transaction-entry-box h5 {
    margin-bottom: 15px;
}

/* 텍스트 중앙 정렬 */
.text-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 커스텀 컨테이너 스타일 */
.custom-container {
    padding: 0 10px; /* 왼쪽과 오른쪽에 10px 여백 추가 */
}

/* 카드 스타일 */
.card {
    margin: 0 -10px; /* 카드의 양쪽 여백 제거 */
}

.card-body {
    padding: 20px; /* 카드 내용에 여백 추가 */
}

/* 최소보관수량 미달품목 하이라이트 표시*/
.highlight {
    background-color: #f08080;
}


/* 안전재고부족 설명 */
.highlight-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.highlight-box {
    width: 20px;
    height: 20px;
    background-color: #f08080;
    border: 1px solid white;
    margin-right: 10px;
}

.highlight-text {
    font-size: 14px;
    font-weight: bold;
}

.selected-highlight {
    background-color: #696969;
    color: white !important;
}

.selected-highlight td {
    color: white !important;  /* td 요소의 글자색을 흰색으로 설정 */
}