/* 전체 테이블 컨테이너 */
.date-input {
    width: 130px;
    height: 30px;
    padding: 5px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.button-container button {
    width: 130px;
    height: 30px;
    font-size: 15px;
    margin: 0 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}



.table-container {
    display: flex;
    gap: 10px; /* 테이블 간의 간격 */
    align-items: flex-start;
    margin-top: 20px;
    font-size: small;
}

#waitingPatientsTable {
    width: 600px;             /* 대기 환자 테이블의 높이 설정 */
    margin-left: 10px;
}
#treatmentPatientsTable {
    width: 650px;             /* 진료 중 환자 테이블의 높이 설정 */
}

#completedPatientsTable {
    width: 630px;             /* 진료 완료 환자 테이블의 높이 설정 */
}
thead {
    background-color: #f8f9fa; /* 헤더 배경색 */
    display: table;
    width: 100%;
    table-layout: fixed;
}


/* tbody에 스크롤바 추가 */
tbody {
    display: block;
    max-height: 520px; /* tbody의 최대 높이 설정 */
    overflow-y: auto; /* 스크롤바 추가 */
    width: 100%;
}

/* 각 행 높이 설정 */
tbody tr {
    display: table; /* 테이블의 각 행을 다시 테이블 형태로 */
    table-layout: fixed; /* 고정된 테이블 레이아웃 */
    width: 100%; /* 테이블 너비에 맞게 설정 */

}


/* 테이블 셀 스타일 */
td, th{
    height: 40px; /* 셀 높이 설정 */
    text-align: center !important;
    vertical-align: middle !important;

    padding: 0;
}

.selected {
    background-color: silver;
}

.clicked {
    background-color: silver; /* 클릭한 행의 회색 배경색 */
}
.table-hover tbody tr:hover {
    background-color: silver; /* 원하는 색상으로 변경 */
}