/* 전체 레이아웃의 양쪽 여백 */
.reception-wrapper {
    padding: 0 10px; /* 좌우 20px 여백 */
    box-sizing: border-box;
}

/* 날짜 입력 필드 */
.date-input {
    width: 130px;
    height: 30px;
    padding: 5px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.button-container {
    display: flex;
    padding: 10px 25px; /* 버튼 컨테이너 상하 여백 */
}

/* 버튼 스타일 */
.button-container button {
    width: 130px;
    height: 30px;
    font-size: 15px;
    margin: 0 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

/* 테이블 컨테이너 */
.table-container {
    display: flex;
    gap: 10px; /* 테이블 간의 간격 */
    align-items: flex-start;
    margin-top: 20px;
    font-size: small;
    padding-left: 10px; /* 좌측 여백 */
    padding-right: 10px; /* 우측 여백 */
}

/* 테이블 크기 조정 */
#waitingPatientsTable {
    width: 600px;
    margin-left: 10px;
}
#treatmentPatientsTable {
    width: 650px;
}
#completedPatientsTable {
    width: 630px;
}

/* 테이블 스타일 */
thead {
    background-color: #f8f9fa;
    display: table;
    width: 100%;
    table-layout: fixed;
}

/* tbody에 스크롤바 추가 */
tbody {
    display: block;
    max-height: 520px;
    overflow-y: auto;
    width: 100%;
}

/* 행 높이 */
tbody tr {
    display: table;
    table-layout: fixed;
    width: 100%;
}

/* 셀 스타일 */
td, th {
    height: 40px;
    text-align: center !important;
    vertical-align: middle !important;
    padding: 0;
}

.selected {
    background-color: silver;
}

.clicked {
    background-color: silver;
}
.table-hover tbody tr:hover {
    background-color: silver;
}
