<!--사용자관리 페이지-->
<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<link rel="stylesheet" href="../templates/css/user.css">

<div layout:fragment="admin_management">

    <div class="row">
        <div class="col">
            <div class="card m-2 mb-1" style="height: 100%">
                <div class="card-header text-center">
                    <span>사용자 목록</span>
                </div>
                <div class="card-body">
                    <div style="max-height: 500px; overflow-y: auto;">
                        <table class="table table-striped" id="membersTable">
                            <thead>
                            <tr>
                                <th style="width: 100px;">아이디</th>
                                <th style="width: 150px;">이름</th>
                                <th style="width: 200px;">이메일</th>
                                <th style="width: 120px;">권한</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- 사용자 리스트 반복 -->
                            <tr th:each="user : ${members}">
                                <td th:text="${user.mid}"></td>
                                <td th:text="${user.name}"></td>
                                <td th:text="${user.email}"></td>
                                <td th:text="${user.roles}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="d-flex justify-content-center" id="pagination">
                    <ul class="pagination flex-wrap" id="pagination-list">
                        <!-- 페이지 버튼이 동적으로 삽입될 부분 -->
                    </ul>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            <small>사용자 아이디</small>
                            <input type="text" class="form-control txtCondition" id="txtId" value="" placeholder=""
                                   required>
                        </div>
                        <div class="col">
                            <small>이름</small>
                            <input type="text" class="form-control txtCondition" id="txtName" value="" placeholder=""
                                   required>
                        </div>
                        <div class="col">
                            <small>권한</small>
                            <select id="cmbAuth" class="form-control">
                                <option value="0">관리자</option>
                                <option value="1">의사</option>
                                <option value="2">간호사</option>
                                <option value="3">일반사용자</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <small>날짜</small>
                            <input type="date" name="transactionStartDate" class="form-control"
                                   id="transactionStartDate">
                        </div>
                    </div>
                    <div class="row m-3 ">
                        <div class="col d-flex align-items-center justify-content-end">
                            <button type="button" id="btnSearch" class="btn btn-primary">조회</button>
                            <button type="reset" id="btnReset" class="btn btn-secondary">초기화</button>
                            <!--                                <button type="button" id="btnEdit" class="btn btn-secondary mt-4">수정</button>-->
                            <button type="button" id="btnDelete" class="btn btn-secondary" data-id="${user.id}">삭제
                            </button>


                            <!--                                <button type="button" id="btnSave" class="btn btn-success mt-4">저장</button>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card m-2 mb-1" style="height: 100%">
                <div class="card-header text-center">
                    <span>사용자 정보 등록</span>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <form id="UserFormData">
                                <small class="mr-2">아이디</small>
                                <div class="form-inline">
                                    <input type="text" class="form-control mr-2" id="txtPopId" name="mid" value="" size="20"
                                           placeholder="아이디 입력"
                                           required
                                           style="display: inline-block; width: auto;"
                                    >
                                    <button type="button" class="btn btn-primary mr-2" onclick="checkDuplicateId()">
                                        중복체크
                                    </button>
                                    <input type="checkbox" id="idCheckStatus" disabled unchecked>
                                    <span id="idCheckMsg"></span> <!-- 중복 체크 결과 메시지를 표시 -->
                                </div>

                                <small>비밀번호</small>
                                <input type="password" class="form-control" id="txtPopPwd" value="" name="password"
                                       placeholder="비밀번호 입력"
                                       required>
                                <small>사용자 권한</small>
                                <select class="form-control" id="cmbPopUserAuth" multiple name="role">
                                    <option value="0">일반사용자</option>
                                    <option value="1">관리자</option>
                                    <option value="2">의사</option>
                                    <option value="3">간호사</option>

                                </select>
                                <small>이름</small>
                                <input type="text" class="form-control popTxt" id="txtPopName" value="" name="name"
                                       placeholder="이름 입력">
                                <small>전화번호</small>
                                <input type="text" class="form-control popTxt" id="txtPopTel" min="0"
                                       placeholder="전화번호 입력" value="">
                                <small>전화번호(핸드폰)</small>
                                <input type="text" class="form-control popTxt" id="txtPopHandPhone" min="0"
                                       placeholder="핸드폰 번호 입력" value="">
                                <small>이메일</small>
                                <input type="email" class="form-control popTxt" id="txtPopMail" name="email"
                                       placeholder="이메일 입력"
                                       value="">

                                <small>주소</small>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user"
                                               id="zipCode" name="zipCode" placeholder="우편번호" readonly
                                               onclick="sample4_execDaumPostcode()">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="streetAdr"
                                           name="streetAdr" placeholder="도로명 주소" readonly>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="detailAdr"
                                           name="detailAdr" placeholder="상세 주소" onclick="addrCheck()">
                                </div>
                                <small>특이사항</small>
                                <textarea class="form-control" id="note" placeholder="특이사항"></textarea><br>
                                <div class="card-footer">
                                    <div class="col" style="text-align: right;">
                                        <input type="reset" id="userTableRest" class="btn btn-danger" value="취소">
                                        <button id="userTable" class="btn btn-success">저장</button>
                                    </div>
                                </div>

                            </form>
                        </div>

                    </div>
                    <div layout:fragment="content">
                    </div>
                    <!-- page script -->
                </div>
            </div>
        </div>
    </div>
    <script src="/js/admin_management.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</div>