<!--사용자관리 페이지-->
<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<link rel="stylesheet" href="../templates/css/user.css">

<div layout:fragment="admin_management">

    <div class="row">
        <div class="col">
            <div class="card m-2 mb-1" style="height: 100%">
                <div class="card-header text-center">
                    <span>사용자 목록</span>
                </div>
                <div class="card-body">
                    <div style="max-height: 500px; overflow-y: auto;">
                        <table class="table table-striped" id="membersTable">
                            <thead>
                            <tr>
                                <th>아이디</th>
                                <th>이름</th>
                                <th>이메일</th>
                                <th>권한</th>
                                <!--                                <th>비밀번호</th>-->

                            </tr>
                            </thead>
                            <tbody>
                            <!-- 사용자 리스트 반복 -->
                            <tr th:each="user : ${members}">
                                <td th:text="${user.mid}"></td>
                                <td th:text="${user.name}"></td>
                                <td th:text="${user.email}"></td>
                                <td th:text="${user.roles}"></td>
<!--                                <td th:text="${user.password}"></td>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            <small>사용자 아이디</small>
                            <input type="text" class="form-control txtCondition" id="txtId" value="" placeholder=""
                                   required>
                        </div>
                        <div class="col">
                            <small>이름</small>
                            <input type="text" class="form-control txtCondition" id="txtName" value="" placeholder=""
                                   required>
                        </div>
                        <div class="col">
                            <small>권한</small>
                            <select id="cmbAuth" class="form-control">
                                <option value="0">관리자</option>
                                <option value="1">의사</option>
                                <option value="2">간호사</option>
                                <option value="3">일반사용자</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <small>날짜</small>
                            <input type="date" name="transactionStartDate" class="form-control"
                                   id="transactionStartDate">
                        </div>
                    </div>
                    <div class="row m-3 ">
                        <div class="col d-flex align-items-center justify-content-end">
                            <button type="button" id="btnSearch" class="btn btn-primary">조회</button>
                            <button type="reset" id="btnReset" class="btn btn-secondary">초기화</button>
                            <!--                                <button type="button" id="btnEdit" class="btn btn-secondary mt-4">수정</button>-->
                            <button type="button" id="btnDelete" class="btn btn-secondary" data-id="${user.id}">삭제
                            </button>


                            <!--                                <button type="button" id="btnSave" class="btn btn-success mt-4">저장</button>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card m-2 mb-1" style="height: 100%">
                <div class="card-header text-center">
                    <span>사용자 정보 등록</span>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <small>아이디</small>
                            <input type="text" class="form-control" id="txtPopId" name="mid" value="" size="20"
                                   placeholder="아이디 입력"
                                   required>
                            <small>비밀번호</small>
                            <input type="password" class="form-control" id="txtPopPwd" value="" name="password"
                                   placeholder="비밀번호 입력"
                                   required>
                            <small>사용자 권한</small>
                            <select class="form-control" id="cmbPopUserAuth" name="role">
                                <option value="0">일반사용자</option>
                                <option value="1">관리자</option>
                                <option value="2">의사</option>
                                <option value="3">간호사</option>

                            </select>
                            <small>이름</small>
                            <input type="text" class="form-control popTxt" id="txtPopName" value="" name="name"
                                   placeholder="이름 입력">
                            <small>전화번호</small>
                            <input type="number" class="form-control popTxt" id="txtPopTel" min="0"
                                   placeholder="전화번호 입력" value="">
                            <small>이메일</small>
                            <input type="email" class="form-control popTxt" id="txtPopMail" name="email"
                                   placeholder="이메일 입력"
                                   value="">

                            <small>주소</small>
                            <input type="email" class="form-control popTxt" id="txtPop" placeholder="주소 입력"
                                   value="">
                            <small>특이사항</small>
                            <textarea class="form-control" id="note" placeholder="특이사항"></textarea><br>
                            <div class="card-footer">
                                <div class="col" style="text-align: right;">
                                    <button id="userTable" class="btn btn-success">저장</button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card m-2 mb-1" style="height: 100%">
                                <div class="card-header text-center">
                                    <span>사용자 정보 수정</span>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <small>아이디</small>
                                            <input type="text" class="form-control" value="" size="20"
                                                   placeholder="아이디 입력"
                                                   required>
                                            <small>비밀번호</small>
                                            <input type="password" class="form-control" value=""
                                                   placeholder="비밀번호 입력"
                                                   required>
                                            <small>사용자 권한</small>
                                            <select class="form-control" id="">
                                                <option value="1">일반사용자</option>
                                                <option value="2">관리자</option>
                                            </select>
                                            <small>이름</small>
                                            <input type="text" class="form-control popTxt" value=""
                                                   placeholder="이름 입력">
                                            <small>전화번호</small>
                                            <input type="number" class="form-control popTxt" min="0"
                                                   placeholder="전화번호 입력" value="">
                                            <small>이메일</small>
                                            <input type="email" class="form-control popTxt"
                                                   placeholder="이메일 입력"
                                                   value="">

                                            <small>주소</small>
                                            <input type="email" class="form-control popTxt"
                                                   placeholder="주소 입력"
                                                   value="">
                                            <small>특이사항</small>
                                            <textarea class="form-control"  placeholder="특이사항"></textarea><br>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="col" style="text-align: right;">
                                            <a  class="btn btn-success">저장</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div layout:fragment="content">
                    </div>
                    <!-- page script -->
                </div>
            </div>
        </div>
    </div>
    <script src="/js/admin_management.js"></script>
</div>