<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/inventory_management.css">
</head>
<div class="card m-2 mb-1">
    <div class="card-header text-center">
        재료 현황 보기
    </div>
    <div class="card-body">
        <!-- 상단 검색 영역 -->
        <div class="search-box">
            <div class="row row-cols-auto align-items-end">
                <!-- 입고일자 -->
                <div class="row mb-3 align-items-center">
                    <label for="registerStartDate" class="form-label">최초등록일자</label>
                    <div class="col">
                        <input type="date" name="registerStartDate" class="form-control" id="registerStartDate">
                    </div>
                    <div class="col-auto d-flex align-items-center justify-content-center">
                        <span>~</span>
                    </div>
                    <div class="col">
                        <input type="date" name="registerEndDate" class="form-control" id="registerEndDate">
                    </div>
                </div>

                <!-- 재료명 검색 -->
                <div class="col mb-3">
                    <label for="oneMaterialName" class="form-label">재료명</label>
                    <input type="text" name="materialName" class="form-control" id="oneMaterialName" placeholder="재료명 입력">
                </div>

                <!-- 재료코드 검색 -->
                <div class="col mb-3">
                    <label for="oneMaterialCode" class="form-label">재료코드</label>
                    <input type="text" class="form-control" name="materialCode" id="oneMaterialCode" placeholder="재료코드 입력">
                </div>

                <!-- 업체명 검색 -->
                <div class="col mb-3">
                    <label for="oneCompanyName" class="form-label">업체명</label>
                    <input type="text" class="form-control" name="companyName" id="oneCompanyName" placeholder="업체명 입력">
                </div>

                <!-- 최소보관수량 미달품목 검색 -->
                <div class="col mb-3">
                    <label for="oneBelowSafetyStock" class="form-label">최소보관수량 미달여부</label>
                    <select class="form-select" id="oneBelowSafetyStock" name="belowSafetyStock">
                        <option value="">전체</option>
                        <option value="yes">예</option>
                        <option value="no">아니오</option>
                    </select>
                </div>

                <!-- 재고관리품목 검색 -->
                <div class="col mb-3">
                    <label for="oneStockManagementItem" class="form-label">재고관리여부</label>
                    <select class="form-select" name="stockManagementItem" id="oneStockManagementItem">
                        <option value="">전체</option>
                        <option value="yes">예</option>
                        <option value="no">아니오</option>
                    </select>
                </div>

                <!-- 검색 및 초기화 버튼 -->
                <div class="col mb-3">
                    <button type="button" class="btn btn-primary mt-4" onclick="oneSearch()">검색</button>
                    <button type="reset" class="btn btn-secondary mt-4" id="twoSearchReset" onclick="resetSearch()">초기화</button>
                </div>
            </div>
        </div>


        <!-- 재료 목록 테이블 -->
        <div class="fixed-box">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>최초등록일자</th>
                    <th>재료코드</th>
                    <th>재료명</th>
                    <th>단위</th>
                    <th>현재고량</th>
                    <th>최소보관수량</th>
                    <th>최소보관수량 미달여부</th>
                    <th>재고관리여부</th>
                    <th>업체명</th>
                </tr>
                </thead>
                <tbody id="materialStatusList">
                <!-- 재료 데이터가 여기에 추가됩니다 -->
                <tr>
                    <td colspan="11">현재 등록된 재료가 없습니다.</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="/js/material_status.js"></script>

</html>