<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">

<div layout:fragment="medical_chart" style="padding: 10px">
    <div id="myTabContent" class="tab-content mt-3">
        <div id="body" class="tab-pane fade show active" role="tabpanel">
            <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                <div class="card m-2 mb-1">
                    <div class="card-header text-center">
                        진료차트
                    </div>
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row d-flex justify-content-center">
                                <!-- 왼쪽 구간 (진료차트) -->
                                <div class="col-md-6">
                                    <!-- 검색 섹션 -->
                                    <div class="mb-3">
                                        <div class="row g-2 align-items-end flex-nowrap">
                                            <div class="col">
                                                <label for="appointmentDateStart" class="form-label">진료일자</label>
                                                <input type="date" class="form-control" id="appointmentDateStart" placeholder="시작일자">
                                            </div>

                                            <!-- ~ 표시를 위한 작은 col-auto -->
                                            <div class="col-auto d-flex justify-content-center align-items-center">
                                                <span>~</span>
                                            </div>

                                            <div class="col">
                                                <input type="date" class="form-control" id="appointmentDateEnd" placeholder="종료일자">
                                            </div>

                                            <div class="col">
                                                <label for="toothNumber" class="form-label">치아번호</label>
                                                <input type="text" class="form-control" id="toothNumber" placeholder="치아번호">
                                            </div>

                                            <div class="col">
                                                <label for="checkDoc" class="form-label">의사</label>
                                                <select class="form-select" name="checkDoc" id="checkDoc" required>
                                                    <option value="" disabled selected>주치의</option>
                                                    <th:block th:each="doctor : ${doctorNames}">
                                                        <option th:value="${doctor}" th:text="${doctor}"></option>
                                                    </th:block>
                                                </select>
                                            </div>

                                            <div class="col">
                                                <label for="keyword" class="form-label">내역키워드</label>
                                                <input type="text" class="form-control" id="keyword" placeholder="내역키워드">
                                            </div>
                                        </div>
                                    </div>


                                    <!-- 테이블 섹션 -->
                                    <div style="max-height: 850px; overflow-y: auto;">
                                        <table class="table mt-3">
                                            <thead style="position: sticky; top: 0; background-color: white; z-index: 1;">
                                            <tr>
                                                <th scope="col" class="col-md-2">진료일</th>
                                                <th scope="col" class="col-md-2">선택치아</th>
                                                <th scope="col" class="col-md-1">구분</th> <!-- 구분 열을 좁게 설정 -->
                                                <th scope="col" class="col-md-4">내역</th>
                                                <th scope="col" class="col-md-3">진료의</th>
                                            </tr>
                                            </thead>
                                            <tbody id="paChart-list">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <!-- 오른쪽 구간 (탭) -->
                                <div id="bodyContent" class="col-md-6">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link active" data-bs-toggle="tab" href="#tabContent"
                                               aria-selected="true"
                                               role="tab" onclick="loadContent('/medical_chart_cc')">CC 입력</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" data-bs-toggle="tab" href="#tabContent"
                                               aria-selected="false"
                                               role="tab" onclick="loadContent('/medical_chart_pi')">PI 입력</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" data-bs-toggle="tab" href="#tabContent"
                                               aria-selected="false"
                                               role="tab" onclick="loadContent('/medical_chart_plan')">치료계획 입력</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" data-bs-toggle="tab" href="#tabContent"
                                               aria-selected="false"
                                               role="tab" onclick="loadContent('/medical_chart_input')">진료입력</a>
                                        </li>
                                    </ul>

                                    <!-- 탭 콘텐츠가 로드될 영역 -->
                                    <div id="tabContent" class="tab-pane fade show active">
                                        <!-- loadContent 함수가 호출되면 이 영역에 콘텐츠가 로드됨 -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                        <script type="text/javascript">
                            // 페이지가 로드되면 기본 콘텐츠 로드
                            $(document).ready(function () {
                                loadContent('/medical_chart_cc');
                            });

                            // 이미 로드된 스크립트 경로를 저장하는 배열
                            const loadedScripts = [];

                            function loadContent(page) {
                                $("#tabContent").load(page, function (response, status, xhr) {
                                    if (status === "error") {
                                        $("#tabContent").html("<p>페이지를 로드하는 데 실패했습니다: " + xhr.status + " " + xhr.statusText + "</p>");
                                    } else {
                                        // // 이전 스크립트가 로드되어 있다면 제거
                                        // $('script[src="/js/medical_chart_pi.js"]').remove();
                                        // $('script[src="/js/medical_chart_plan.js"]').remove();

                                        // 필요한 스크립트를 동적으로 로드
                                        if (page === '/medical_chart_pi') {
                                            $.getScript("/js/medical_chart_pi.js", function() {
                                                console.log("초기화 1" + MedicalChartModule)
                                                if (typeof MedicalChartModule !== "undefined") {
                                                    MedicalChartModule.init();
                                                }
                                            });
                                        }else if(page === '/medical_chart_plan'){
                                            $.getScript("/js/medical_chart_plan.js", function() {
                                                if (typeof MedicalPlanModule !== "undefined") {
                                                    MedicalPlanModule.init();
                                                    $.ajax({
                                                        url: '/medical_chart/PLANChartData?chartNum=' + patientInfos.chartNum,  // 서버에서 데이터를 가져올 API 경로
                                                        type: 'GET',  // GET 요청
                                                        dataType: 'json',  // 서버에서 JSON 응답을 기대
                                                        success: function (data) {

                                                            console.log("차트 보여주는 메소드 실행")
                                                            let tableBody = $("#plan-data");
                                                            tableBody.empty();  // 기존 내용을 비움

                                                            let previousMdTime = null;  // 이전 mdTime을 저장할 변수

// 데이터를 순회하여 테이블에 추가
                                                            data.forEach(chart => {
                                                                // 이전 mdTime과 현재 mdTime이 같은 경우 빈 값을 출력, 다르면 mdTime을 출력

                                                                let row =
                                                                    `<tr>
                                                                <td>${chart.teethNum}</td>
                                                                <td>${chart.medicalContent}</td>
                                                                <td><button class="btn save-db-btn" type="button">저장</button></td>
                                                                <td><button class="btn del-db-btn" type="button">삭제</button></td>
                                                                    </tr>`;
                                                                tableBody.append(row);  // 새로운 행을 테이블에 추가

                                                            })
                                                            const newRow = `
                                                         <tr>
                                                             <td><p style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#Plan-tooth-Modal" class="select-pTag">치아 선택</p></td>
                                                             <td><p style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#Plan-cure-modal" class="select-pTag">치료계획 선택</p></td>
                                                             <td><button class="btn save-db-btn" type="button">저장</button></td>
                                                             <td><button class="btn del-db-btn" type="button">삭제</button></td>
                                                         </tr>
                                                     `;
                                                            tableBody.append(newRow);

                                                        },
                                                        error: function (xhr, status, error) {
                                                            console.error('Error:', error);  // 에러 처리
                                                        }
                                                    });
                                                }
                                            });
                                        }
                                    }
                                });
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script layout:fragment="chartscript" src="/js/medical_chart.js"></script>
</html>
