<!--환자등록 페이지-->
<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/cerulean/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>


<div  layout:fragment="patient_register">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" data-bs-toggle="tab" href="#personal_information" aria-selected="false" role="tab" tabindex="-1">인적사항</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#profile" aria-selected="true" role="tab">환자CRM</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#" aria-selected="true" tabindex="-1" role="tab">CDB/FVR</a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active show" id="personal_information" role="tabpanel">
            <form>
                <fieldset>
                    <div>
                        <label for="InputName" class="form-label mt-4">환자이름</label>
                        <input type="text" class="form-control" id="InputName" aria-describedby="nameHelp" placeholder="이름 입력">
                        <small id="nameHelp" class="form-text text-muted">환자 성함을 입력하세요.</small>
                    </div>
                    <div>
                        <label for="resident_num" class="form-label mt-4">주민번호</label>
                        <input type="text" class="form-control" id="resident_num" placeholder="주민번호 입력" autocomplete="off">
                    </div>
                    <div>
                        <label for="exampleSelect1" class="form-label mt-4">Example select</label>
                        <select class="form-select" id="exampleSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div>
                        <label for="exampleSelect1" class="form-label mt-4">Example disabled select</label>
                        <select class="form-select" id="exampleDisabledSelect1" disabled="">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div>
                        <label for="exampleSelect2" class="form-label mt-4">Example multiple select</label>
                        <select multiple="" class="form-select" id="exampleSelect2">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div>
                        <label for="exampleTextarea" class="form-label mt-4">Example textarea</label>
                        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </fieldset>
            </form>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel">
            <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1
                labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer
                twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl
                cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
        </div>
        <div class="tab-pane fade" id="#">
            <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny
                pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard
                locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid
                8-bit cred pitchfork.</p>
        </div>
    </div>
</div>
