<!--환자등록 페이지-->
<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">


<div layout:fragment="patient_register">

    <!--탭 화면 구성 -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" data-bs-toggle="tab" href="#tab1" aria-selected="true" role="tab">인적사항</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link disabled" data-bs-toggle="tab" href="#tab2" aria-selected="false" tabindex="-1"
               role="tab">환자CRM</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link disabled" data-bs-toggle="tab" href="#tab3" a aria-selected="false" tabindex="-2"
               role="tab">CDB/FVR</a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade show active" id="tab1" role="tabpanel">
            <!-- 환자 기본 정보-->
            <div class="card m-2 mb-1">
                <div class="card-header text-center">
                    환자 기본 정보
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <div class="mb-1 text-end">
                                <button type="button" class="btn btn-secondary" id="refreshBtn">
                                    <i class="bi bi-arrow-clockwise" style="padding: 0.5rem;"></i>
                                </button>
                                <button type="button" class="btn btn-success" id="patient_reg">차트저장</button>
                                <button type="button" class="btn btn-danger" id="patient_del">차트삭제</button>
                            </div>
                            <div class="row">
                                <div class="input-group mb-3 col">
                                    <span class="input-group-text" style="width: 6rem;">환자이름</span>
                                    <input type="text" name="name" class="form-control" id="name" placeholder="이름 입력"
                                           required>
                                    <!--                                    <button class="btn btn-outline-primary" type="button" disabled>변경</button>-->
                                    <!--                                    disabled 사용 잠김-->
                                </div>
                                <div class="input-group mb-3 col">
                                    <span class="input-group-text" style="width: 6rem;">차트번호</span>
                                    <input type="text" name="chartNum" class="form-control" id="chartNum"
                                           placeholder="차트번호(자동입력)" readonly>
                                    <!--                                    <button class="btn btn-outline-primary" type="button">변경</button>-->
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-group mb-3 col">
                                    <span class="input-group-text" style="width: 6rem;">주민번호</span>
                                    <input type="text" name="firstPaResidentNum" class="form-control"
                                           id="firstPaResidentNum" placeholder="주민번호 입력"
                                           autocomplete="off" maxlength="6" required>
                                    <span class="input-group-text">-</span>
                                    <input type="password" name="lastPaResidentNum" class="form-control"
                                           id="lastPaResidentNum"
                                           placeholder="주민번호 입력" autocomplete="off" maxlength="7" required>
                                </div>
                                <div class="input-group mb-3 col">
                                    <span class="input-group-text" style="width: 6rem;">나이(만)</span>
                                    <input type="text" name="age" id="age" class="form-control" placeholder="나이(자동입력)"
                                           readonly>
                                    <select class="btn btn-outline-primary" name="gender" id="gender">
                                        <option selected value="">성별</option>
                                        <option value="m">남</option>
                                        <option value="w">여</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-group mb-3 col">
                                    <span class="input-group-text" style="width: 6rem;">생년월일</span>
                                    <input type="date" name="birthDate" id="birthDate" class=" form-control">
                                </div>
                                <div class="input-group mb-3 col">
                                    <span class="input-group-text" style="width: 6rem;">주치의</span>
                                    <select class="form-select" name="mainDoc" id="mainDoc">
                                        <option selected value="">주치의</option>
                                        <th:block th:each="doctor : ${doctorNames}">
                                            <option th:value="${doctor}" th:text="${doctor}"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <!-- 자택전화 -->
                                <div class="input-group mb-3 col">
                                    <span class="input-group-text" style="width: 6rem;">자택전화</span>
                                    <input type="text" class="form-control" id="homeNum" autocomplete="off"
                                           maxlength="3" placeholder="010">
                                    <span class="input-group-text">-</span>
                                    <input type="text" class="form-control" id="homeNum2" autocomplete="off"
                                           maxlength="4" placeholder="1234">
                                    <span class="input-group-text">-</span>
                                    <input type="text" class="form-control" id="homeNum3" autocomplete="off"
                                           maxlength="4" placeholder="5678">
                                </div>
                                <!-- E-mail -->
                                <div class="input-group mb-3 col">
                                    <span class="input-group-text" style="width: 6rem;">E-mail</span>
                                    <input type="text" class="form-control" id="emailLocal" aria-label="Username"
                                           placeholder="user">
                                    <span class="input-group-text">@</span>
                                    <input type="text" class="form-control" id="emailDomain" aria-label="Server"
                                           placeholder="example.com">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <!-- 휴대전화 -->
                                    <div class="input-group mb-3 col">
                                        <span class="input-group-text" style="width: 6rem;">휴대전화</span>
                                        <input type="text" class="form-control" id="phoneNum" autocomplete="off"
                                               maxlength="3" placeholder="010">
                                        <span class="input-group-text">-</span>
                                        <input type="text" class="form-control" id="phoneNum2" autocomplete="off"
                                               maxlength="4" placeholder="1234">
                                        <span class="input-group-text">-</span>
                                        <input type="text" class="form-control" id="phoneNum3" autocomplete="off"
                                               maxlength="4" placeholder="5678">
                                    </div>
                                    <div class="col">
                                        <label for="zipp_btn" class="form-label">■ 주소 *</label><br/>
                                        <input type="text" class="form-control mb-2" id="zipp_code_id" name="zipp_code"
                                               maxlength="10" placeholder="우편번호" style="width: 50%; display: inline;">
                                        <input type="button" id="zipp_btn" class="btn btn-primary"
                                               onclick="execDaumPostcode()"
                                               value="우편번호 찾기"><br>
                                        <input type="text" class="form-control mb-2" name="defaultAddress"
                                               id="defaultAddress"
                                               maxlength="40"
                                               placeholder="기본 주소를 입력하세요" required>
                                        <div class="invalid-feedback">주소를 입력해주시기 바랍니다!</div>
                                        <input type="text" class="form-control" name="detailedAddress"
                                               id="detailedAddress"
                                               maxlength="40"
                                               placeholder="상세 주소를 입력하세요">
                                    </div>
                                </div>
                                <!--                        추가정보-->
                                <div class="col">
                                    <div class="card m-2 mb-1">
                                        <div class="card-header text-center">
                                            추가 정보
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="input-group mb-3 col">
                                                    <!--                                                    오게된 경로-->
                                                    <span class="input-group-text" style="width: 6rem;">내원유형</span>
                                                    <select class="form-select" name="visitPath" id="visitPath">
                                                        <option selected value="">내원유형</option>
                                                        <option value="인터넷">인터넷</option>
                                                        <option value="지인추천">지인추천</option>
                                                        <option value="간판">간판</option>
                                                        <option value="광고">광고</option>
                                                        <option value="기타">기타</option>
                                                    </select>
                                                </div>
                                                <div class="input-group mb-3 col">
                                                    <!--                                                    진료과 분류-->
                                                    <span class="input-group-text" style="width: 6rem;">고객분류</span>
                                                    <select class="form-select" name="category" id="category">
                                                        <option selected value="">고객분류</option>
                                                        <option value="임플란트">임플란트</option>
                                                        <option value="틀니">틀니</option>
                                                        <option value="교정">교정</option>
                                                        <option value="심미보철">심미보철</option>
                                                        <option value="일반">일반</option>
                                                        <option value="기타">기타</option>
                                                    </select>

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-group mb-3 col">
                                                    <!--                                                    환자 성격-->
                                                    <span class="input-group-text" id="tendency"
                                                          style="width: 6rem;">성향</span>
                                                    <input type="text" class="form-control"></input>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-group mb-3 col">
                                                    <span class="input-group-text" style="width: 6rem;">최초내원</span>
                                                    <input type="date" name="firstVisit" id="firstVisit"
                                                           class="form-control">
                                                </div>
                                                <div class="input-group mb-3 col">
                                                    <span class="input-group-text" style="width: 6rem;">최종내원</span>
                                                    <input type="date" name="lastVisit" id="lastVisit"
                                                           class="form-control" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--                    <button type="submit" class="btn btn-dark m-2">등록</button>-->
                        <div class="col-4">
                            <ul class="nav nav-tabs d-flex justify-content-between align-items-center" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" data-bs-toggle="tab" href="#home" aria-selected="true"
                                       role="tab">메모</a>
                                </li>
                                <button type="button" class="btn btn-success mb-1" id="memo_reg">등록</button>
                            </ul>
                            <div id="myTabContent1" class="tab-content">
                                <div class="tab-pane fade show active" id="home" role="tabpanel">
                                    <div class="container mt-2">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div>
                                            </div> <!-- 왼쪽에 아무것도 없으면 비워둠 -->
                                            <h6 onclick="addRow()">+ 새 메모 추가</h6>
                                        </div>
                                        <div style="max-height: 450px; overflow-y: auto;">
                                            <table class="table table-bordered" id="memoTable">
                                                <thead>
                                                <tr>
                                                    <th scope="col" style="width: 30%;">날짜</th>
                                                    <th scope="col" style="width: 50%;">내용</th>
                                                    <th scope="col" style="width: 20%;">Action</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <!--<tr>
                                                    <td>
                                                        <input type="date" class="form-control" id="memo_date"></td>
                                                    <td>
                                                        <textarea class="form-control" id="memo_textarea"></textarea>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-primary" onclick="editRow(this)">
                                                            <i class="bi bi-pencil"></i>
                                                        </button>
                                                        <button class="btn btn-danger" onclick="deleteRow(this)">
                                                            <i class="bi bi-trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>-->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="tab2" role="tabpanel">
            <p>Food truck fixie locavore, </p>
        </div>
        <div class="tab-pane fade" id="tab3" role="tabpanel">
            <p>Etsy mixtape wayfarers,</p>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</div>
<script layout:fragment="patientscript" th:inline="javascript" src="/js/patient_register.js"></script>



